[submodule "themes/hugo-simple"]
	path = themes/hugo-simple
	url = https://github.com/maolonglong/hugo-simple.git
[submodule "themes/archie"]
	path = themes/archie
	url = https://https://github.com/athul/archie.git
